:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  background: url(images/space.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: relative; 
  background-size: cover;
}

/* ----CSS Reset */
html,div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, 
menu, nav, section, summary{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

/* ----HEADER SECTION */
body>header img{
  height: calc(12vw + 13vh);
  width: auto;
  border-radius: 4px;
  margin-top:.9rem;
}

body>header{
  padding: .8rem;
  display: flex;
  justify-content: center;
  margin-top: 9rem; 
}

body>header h1{
  color: rgb(55, 55, 55);
  opacity: 0.70;
  font-size: calc(1.5vw + 1.6vh);
  font-weight: 300;
  padding-top: .7em;
  padding-left: .5em;
  padding-right: .5em;
  padding-bottom: 7vh;
  margin-left: .3rem;
  background-color: rgb(240, 255, 255); 
  height: 2.3rem;
  position: relative;
}

/* header h1:after{
    work on last - triangle to chat bubble
} */

body>header h1 span{
  font-weight: 900;
}

/* ----Main Section */
main{
  background-color: rgba(19, 19, 19, 0.879);
  margin-top: 5rem;
  padding-bottom: 2em;
}

main section img{
  padding-left: .8rem;
  padding-right: .8rem;
  padding-top: 5rem;
  padding-bottom: .2rem;
  max-width: 500px;
  width: 85%;
  height: auto;
}

main section {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding-bottom: 5rem;
}

article{
  font-size: 2vh;
  color: #363636;
}

article header{
  border-radius: 5px 5px 0 0 ;  
}

article h2{
  font-weight: 400;
  font-size: 1.6vh;
  padding-bottom: 1rem;
}

article h2 span{
  font-weight: 900;
  font-size: 2.5vh;
  padding-right: .1rem;
}

article h2, article p{
  padding: 1rem;
}

.article-1 div, .article-2 div{
  background-color: white;
  border-radius: 0 0 5px 5px;
}

.article-1, .article-2{
  margin-bottom: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.article-1 header, .article-2 header{
  background-color: rgb(60, 60, 60);
  background-position-y: 50%;
  background-image: no-repeat;
  padding-top: 4rem;
  background-size: cover;
  background-position-y: 50%;
  
}

.article-1 header{
  background-image: url("images/react.png");
}

.article-2 header{
  background-image: url("images/code.png");
}

button{
  color: white;
  background-color: #3681CF;
  border-radius: 5px;
  border: 0;
  padding: .2rem .4rem;
  font-size: 2vh;
  float: right;
  margin-top: -5px;
  margin-right: 3px;
}

/* ----Footer */
footer{
  padding-top: 1rem;
  background-color: black;
  color: #EFEEEE;
  text-align: center;
  font-size: 2vh;
  padding-bottom: 1em;
}

footer p{
  margin: 2vh 0;
  text-decoration: none;
}

footer img{
  width: 5vh;
  height: 4.5vh;
  border-radius: 50%;
}

footer a{
  padding-right: .3rem;
}

a:link{
  text-decoration: none;
}

footer p:nth-of-type(2){
  font-size: 2vw;
}

footer p:nth-child(7){
  font-size: 1.4vh;
}


/* ----Media Query Section~ */
@media only screen and (min-width: 750px) {
  main section {
    flex-flow: row nowrap;
  }
}

